* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-size: 16px;
  font-family: "Hanken Grotesk", sans-serif;
}

.container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

.aic {
  align-items: center;
}

.ais {
  align-items: flex-start;
}

.aie {
  align-items: flex-end;
}

.jcs {
  justify-content: flex-start;
}

.jcc {
  justify-content: center;
}

.jce {
  justify-content: flex-end;
}

.jcb {
  justify-content: space-between;
}

.jca {
  justify-content: space-around;
}

.jce {
  justify-content: space-evenly;
}

.bg-gray {
  background-color: #f8f8f8;
}

.bg-white {
  background-color: #fff;
}

.text-gray {
  color: #999;
}

.text-white {
  color: #fff;
}

.text-black {
  color: black;
}

.shadow {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
}

.block {
  display: block;
}

.text-p {
  color: #00968D;
}

.rounded-sm {
  border-radius: 4px;
}

.rounded {
  border-radius: 8px;
}

.comment {
  border-left: 5px solid #00968D;
}

.cursor-pointer {
  cursor: pointer;
}

.rounded-big {
  border-radius: 16px;
}

.text-opacity {
  opacity: 0.8;
}

.h-min-80 {
  min-height: 80vh;
}

.bg-p {
  background-color: #00968D;
  color: #ffffff;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.mt-1 {
  margin-top: 1px;
}

.mt-2 {
  margin-top: 2px;
}

.mt-3 {
  margin-top: 3px;
}

.mt-4 {
  margin-top: 4px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-6 {
  margin-top: 6px;
}

.mt-7 {
  margin-top: 7px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-9 {
  margin-top: 9px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-11 {
  margin-top: 11px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-13 {
  margin-top: 13px;
}

.mt-14 {
  margin-top: 14px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-17 {
  margin-top: 17px;
}

.mt-18 {
  margin-top: 18px;
}

.mt-19 {
  margin-top: 19px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-21 {
  margin-top: 21px;
}

.mt-22 {
  margin-top: 22px;
}

.mt-23 {
  margin-top: 23px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-26 {
  margin-top: 26px;
}

.mt-27 {
  margin-top: 27px;
}

.mt-28 {
  margin-top: 28px;
}

.mt-29 {
  margin-top: 29px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-1 {
  margin-bottom: 1px;
}

.mb-2 {
  margin-bottom: 2px;
}

.mb-3 {
  margin-bottom: 3px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-6 {
  margin-bottom: 6px;
}

.mb-7 {
  margin-bottom: 7px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-9 {
  margin-bottom: 9px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-11 {
  margin-bottom: 11px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-13 {
  margin-bottom: 13px;
}

.mb-14 {
  margin-bottom: 14px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-17 {
  margin-bottom: 17px;
}

.mb-18 {
  margin-bottom: 18px;
}

.mb-19 {
  margin-bottom: 19px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-21 {
  margin-bottom: 21px;
}

.mb-22 {
  margin-bottom: 22px;
}

.mb-23 {
  margin-bottom: 23px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-26 {
  margin-bottom: 26px;
}

.mb-27 {
  margin-bottom: 27px;
}

.mb-28 {
  margin-bottom: 28px;
}

.mb-29 {
  margin-bottom: 29px;
}

.mb-30 {
  margin-bottom: 30px;
}

.ml-1 {
  margin-left: 1px;
}

.ml-2 {
  margin-left: 2px;
}

.ml-3 {
  margin-left: 3px;
}

.ml-4 {
  margin-left: 4px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-6 {
  margin-left: 6px;
}

.ml-7 {
  margin-left: 7px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-9 {
  margin-left: 9px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-11 {
  margin-left: 11px;
}

.ml-12 {
  margin-left: 12px;
}

.ml-13 {
  margin-left: 13px;
}

.ml-14 {
  margin-left: 14px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-16 {
  margin-left: 16px;
}

.ml-17 {
  margin-left: 17px;
}

.ml-18 {
  margin-left: 18px;
}

.ml-19 {
  margin-left: 19px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-21 {
  margin-left: 21px;
}

.ml-22 {
  margin-left: 22px;
}

.ml-23 {
  margin-left: 23px;
}

.ml-24 {
  margin-left: 24px;
}

.ml-25 {
  margin-left: 25px;
}

.ml-26 {
  margin-left: 26px;
}

.ml-27 {
  margin-left: 27px;
}

.ml-28 {
  margin-left: 28px;
}

.ml-29 {
  margin-left: 29px;
}

.ml-30 {
  margin-left: 30px;
}

.mr-1 {
  margin-right: 1px;
}

.mr-2 {
  margin-right: 2px;
}

.mr-3 {
  margin-right: 3px;
}

.mr-4 {
  margin-right: 4px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-6 {
  margin-right: 6px;
}

.mr-7 {
  margin-right: 7px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-9 {
  margin-right: 9px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-11 {
  margin-right: 11px;
}

.mr-12 {
  margin-right: 12px;
}

.mr-13 {
  margin-right: 13px;
}

.mr-14 {
  margin-right: 14px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-17 {
  margin-right: 17px;
}

.mr-18 {
  margin-right: 18px;
}

.mr-19 {
  margin-right: 19px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-21 {
  margin-right: 21px;
}

.mr-22 {
  margin-right: 22px;
}

.mr-23 {
  margin-right: 23px;
}

.mr-24 {
  margin-right: 24px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-26 {
  margin-right: 26px;
}

.mr-27 {
  margin-right: 27px;
}

.mr-28 {
  margin-right: 28px;
}

.mr-29 {
  margin-right: 29px;
}

.mr-30 {
  margin-right: 30px;
}

.mx-1 {
  margin-left: 1px;
  margin-right: 1px;
}

.mx-2 {
  margin-left: 2px;
  margin-right: 2px;
}

.mx-3 {
  margin-left: 3px;
  margin-right: 3px;
}

.mx-4 {
  margin-left: 4px;
  margin-right: 4px;
}

.mx-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.mx-6 {
  margin-left: 6px;
  margin-right: 6px;
}

.mx-7 {
  margin-left: 7px;
  margin-right: 7px;
}

.mx-8 {
  margin-left: 8px;
  margin-right: 8px;
}

.mx-9 {
  margin-left: 9px;
  margin-right: 9px;
}

.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mx-11 {
  margin-left: 11px;
  margin-right: 11px;
}

.mx-12 {
  margin-left: 12px;
  margin-right: 12px;
}

.mx-13 {
  margin-left: 13px;
  margin-right: 13px;
}

.mx-14 {
  margin-left: 14px;
  margin-right: 14px;
}

.mx-15 {
  margin-left: 15px;
  margin-right: 15px;
}

.mx-16 {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-17 {
  margin-left: 17px;
  margin-right: 17px;
}

.mx-18 {
  margin-left: 18px;
  margin-right: 18px;
}

.mx-19 {
  margin-left: 19px;
  margin-right: 19px;
}

.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.mx-21 {
  margin-left: 21px;
  margin-right: 21px;
}

.mx-22 {
  margin-left: 22px;
  margin-right: 22px;
}

.mx-23 {
  margin-left: 23px;
  margin-right: 23px;
}

.mx-24 {
  margin-left: 24px;
  margin-right: 24px;
}

.mx-25 {
  margin-left: 25px;
  margin-right: 25px;
}

.mx-26 {
  margin-left: 26px;
  margin-right: 26px;
}

.mx-27 {
  margin-left: 27px;
  margin-right: 27px;
}

.mx-28 {
  margin-left: 28px;
  margin-right: 28px;
}

.mx-29 {
  margin-left: 29px;
  margin-right: 29px;
}

.mx-30 {
  margin-left: 30px;
  margin-right: 30px;
}

.my-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.my-2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.my-3 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.my-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.my-6 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.my-7 {
  margin-top: 7px;
  margin-bottom: 7px;
}

.my-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-9 {
  margin-top: 9px;
  margin-bottom: 9px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-11 {
  margin-top: 11px;
  margin-bottom: 11px;
}

.my-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.my-13 {
  margin-top: 13px;
  margin-bottom: 13px;
}

.my-14 {
  margin-top: 14px;
  margin-bottom: 14px;
}

.my-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-17 {
  margin-top: 17px;
  margin-bottom: 17px;
}

.my-18 {
  margin-top: 18px;
  margin-bottom: 18px;
}

.my-19 {
  margin-top: 19px;
  margin-bottom: 19px;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-21 {
  margin-top: 21px;
  margin-bottom: 21px;
}

.my-22 {
  margin-top: 22px;
  margin-bottom: 22px;
}

.my-23 {
  margin-top: 23px;
  margin-bottom: 23px;
}

.my-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.my-25 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.my-26 {
  margin-top: 26px;
  margin-bottom: 26px;
}

.my-27 {
  margin-top: 27px;
  margin-bottom: 27px;
}

.my-28 {
  margin-top: 28px;
  margin-bottom: 28px;
}

.my-29 {
  margin-top: 29px;
  margin-bottom: 29px;
}

.my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.pt-1 {
  padding-top: 1px;
}

.pt-2 {
  padding-top: 2px;
}

.pt-3 {
  padding-top: 3px;
}

.pt-4 {
  padding-top: 4px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-6 {
  padding-top: 6px;
}

.pt-7 {
  padding-top: 7px;
}

.pt-8 {
  padding-top: 8px;
}

.pt-9 {
  padding-top: 9px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-11 {
  padding-top: 11px;
}

.pt-12 {
  padding-top: 12px;
}

.pt-13 {
  padding-top: 13px;
}

.pt-14 {
  padding-top: 14px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-16 {
  padding-top: 16px;
}

.pt-17 {
  padding-top: 17px;
}

.pt-18 {
  padding-top: 18px;
}

.pt-19 {
  padding-top: 19px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-21 {
  padding-top: 21px;
}

.pt-22 {
  padding-top: 22px;
}

.pt-23 {
  padding-top: 23px;
}

.pt-24 {
  padding-top: 24px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-26 {
  padding-top: 26px;
}

.pt-27 {
  padding-top: 27px;
}

.pt-28 {
  padding-top: 28px;
}

.pt-29 {
  padding-top: 29px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-1 {
  padding-bottom: 1px;
}

.pb-2 {
  padding-bottom: 2px;
}

.pb-3 {
  padding-bottom: 3px;
}

.pb-4 {
  padding-bottom: 4px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-6 {
  padding-bottom: 6px;
}

.pb-7 {
  padding-bottom: 7px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pb-9 {
  padding-bottom: 9px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-11 {
  padding-bottom: 11px;
}

.pb-12 {
  padding-bottom: 12px;
}

.pb-13 {
  padding-bottom: 13px;
}

.pb-14 {
  padding-bottom: 14px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pb-17 {
  padding-bottom: 17px;
}

.pb-18 {
  padding-bottom: 18px;
}

.pb-19 {
  padding-bottom: 19px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-21 {
  padding-bottom: 21px;
}

.pb-22 {
  padding-bottom: 22px;
}

.pb-23 {
  padding-bottom: 23px;
}

.pb-24 {
  padding-bottom: 24px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-26 {
  padding-bottom: 26px;
}

.pb-27 {
  padding-bottom: 27px;
}

.pb-28 {
  padding-bottom: 28px;
}

.pb-29 {
  padding-bottom: 29px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pl-1 {
  padding-left: 1px;
}

.pl-2 {
  padding-left: 2px;
}

.pl-3 {
  padding-left: 3px;
}

.pl-4 {
  padding-left: 4px;
}

.pl-5 {
  padding-left: 5px;
}

.pl-6 {
  padding-left: 6px;
}

.pl-7 {
  padding-left: 7px;
}

.pl-8 {
  padding-left: 8px;
}

.pl-9 {
  padding-left: 9px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-11 {
  padding-left: 11px;
}

.pl-12 {
  padding-left: 12px;
}

.pl-13 {
  padding-left: 13px;
}

.pl-14 {
  padding-left: 14px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-16 {
  padding-left: 16px;
}

.pl-17 {
  padding-left: 17px;
}

.pl-18 {
  padding-left: 18px;
}

.pl-19 {
  padding-left: 19px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-21 {
  padding-left: 21px;
}

.pl-22 {
  padding-left: 22px;
}

.pl-23 {
  padding-left: 23px;
}

.pl-24 {
  padding-left: 24px;
}

.pl-25 {
  padding-left: 25px;
}

.pl-26 {
  padding-left: 26px;
}

.pl-27 {
  padding-left: 27px;
}

.pl-28 {
  padding-left: 28px;
}

.pl-29 {
  padding-left: 29px;
}

.pl-30 {
  padding-left: 30px;
}

.pr-1 {
  padding-right: 1px;
}

.pr-2 {
  padding-right: 2px;
}

.pr-3 {
  padding-right: 3px;
}

.pr-4 {
  padding-right: 4px;
}

.pr-5 {
  padding-right: 5px;
}

.pr-6 {
  padding-right: 6px;
}

.pr-7 {
  padding-right: 7px;
}

.pr-8 {
  padding-right: 8px;
}

.pr-9 {
  padding-right: 9px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-11 {
  padding-right: 11px;
}

.pr-12 {
  padding-right: 12px;
}

.pr-13 {
  padding-right: 13px;
}

.pr-14 {
  padding-right: 14px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-16 {
  padding-right: 16px;
}

.pr-17 {
  padding-right: 17px;
}

.pr-18 {
  padding-right: 18px;
}

.pr-19 {
  padding-right: 19px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-21 {
  padding-right: 21px;
}

.pr-22 {
  padding-right: 22px;
}

.pr-23 {
  padding-right: 23px;
}

.pr-24 {
  padding-right: 24px;
}

.pr-25 {
  padding-right: 25px;
}

.pr-26 {
  padding-right: 26px;
}

.pr-27 {
  padding-right: 27px;
}

.pr-28 {
  padding-right: 28px;
}

.pr-29 {
  padding-right: 29px;
}

.pr-30 {
  padding-right: 30px;
}

.px-1 {
  padding-left: 1px;
  padding-right: 1px;
}

.px-2 {
  padding-left: 2px;
  padding-right: 2px;
}

.px-3 {
  padding-left: 3px;
  padding-right: 3px;
}

.px-4 {
  padding-left: 4px;
  padding-right: 4px;
}

.px-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.px-6 {
  padding-left: 6px;
  padding-right: 6px;
}

.px-7 {
  padding-left: 7px;
  padding-right: 7px;
}

.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-9 {
  padding-left: 9px;
  padding-right: 9px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-11 {
  padding-left: 11px;
  padding-right: 11px;
}

.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.px-13 {
  padding-left: 13px;
  padding-right: 13px;
}

.px-14 {
  padding-left: 14px;
  padding-right: 14px;
}

.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-17 {
  padding-left: 17px;
  padding-right: 17px;
}

.px-18 {
  padding-left: 18px;
  padding-right: 18px;
}

.px-19 {
  padding-left: 19px;
  padding-right: 19px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-21 {
  padding-left: 21px;
  padding-right: 21px;
}

.px-22 {
  padding-left: 22px;
  padding-right: 22px;
}

.px-23 {
  padding-left: 23px;
  padding-right: 23px;
}

.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}

.px-25 {
  padding-left: 25px;
  padding-right: 25px;
}

.px-26 {
  padding-left: 26px;
  padding-right: 26px;
}

.px-27 {
  padding-left: 27px;
  padding-right: 27px;
}

.px-28 {
  padding-left: 28px;
  padding-right: 28px;
}

.px-29 {
  padding-left: 29px;
  padding-right: 29px;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.py-1 {
  padding-top: 1px;
  padding-bottom: 1px;
}

.py-2 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.py-3 {
  padding-top: 3px;
  padding-bottom: 3px;
}

.py-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-6 {
  padding-top: 6px;
  padding-bottom: 6px;
}

.py-7 {
  padding-top: 7px;
  padding-bottom: 7px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-9 {
  padding-top: 9px;
  padding-bottom: 9px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-11 {
  padding-top: 11px;
  padding-bottom: 11px;
}

.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-13 {
  padding-top: 13px;
  padding-bottom: 13px;
}

.py-14 {
  padding-top: 14px;
  padding-bottom: 14px;
}

.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-17 {
  padding-top: 17px;
  padding-bottom: 17px;
}

.py-18 {
  padding-top: 18px;
  padding-bottom: 18px;
}

.py-19 {
  padding-top: 19px;
  padding-bottom: 19px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-21 {
  padding-top: 21px;
  padding-bottom: 21px;
}

.py-22 {
  padding-top: 22px;
  padding-bottom: 22px;
}

.py-23 {
  padding-top: 23px;
  padding-bottom: 23px;
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.py-26 {
  padding-top: 26px;
  padding-bottom: 26px;
}

.py-27 {
  padding-top: 27px;
  padding-bottom: 27px;
}

.py-28 {
  padding-top: 28px;
  padding-bottom: 28px;
}

.py-29 {
  padding-top: 29px;
  padding-bottom: 29px;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.flex-7 {
  flex: 7;
}

.flex-8 {
  flex: 8;
}

.flex-9 {
  flex: 9;
}

.flex-10 {
  flex: 10;
}

.flex-11 {
  flex: 11;
}

.flex-12 {
  flex: 12;
}

.font-1 {
  font-size: 1px;
}

.font-2 {
  font-size: 2px;
}

.font-3 {
  font-size: 3px;
}

.font-4 {
  font-size: 4px;
}

.font-5 {
  font-size: 5px;
}

.font-6 {
  font-size: 6px;
}

.font-7 {
  font-size: 7px;
}

.font-8 {
  font-size: 8px;
}

.font-9 {
  font-size: 9px;
}

.font-10 {
  font-size: 10px;
}

.font-11 {
  font-size: 11px;
}

.font-12 {
  font-size: 12px;
}

.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

.font-15 {
  font-size: 15px;
}

.font-16 {
  font-size: 16px;
}

.font-17 {
  font-size: 17px;
}

.font-18 {
  font-size: 18px;
}

.font-19 {
  font-size: 19px;
}

.font-20 {
  font-size: 20px;
}

.font-21 {
  font-size: 21px;
}

.font-22 {
  font-size: 22px;
}

.font-23 {
  font-size: 23px;
}

.font-24 {
  font-size: 24px;
}

.font-25 {
  font-size: 25px;
}

.font-26 {
  font-size: 26px;
}

.font-27 {
  font-size: 27px;
}

.font-28 {
  font-size: 28px;
}

.font-29 {
  font-size: 29px;
}

.font-30 {
  font-size: 30px;
}

.font-31 {
  font-size: 31px;
}

.font-32 {
  font-size: 32px;
}

.font-33 {
  font-size: 33px;
}

.font-34 {
  font-size: 34px;
}

.font-35 {
  font-size: 35px;
}

.font-36 {
  font-size: 36px;
}

.font-37 {
  font-size: 37px;
}

.font-38 {
  font-size: 38px;
}

.font-39 {
  font-size: 39px;
}

.font-40 {
  font-size: 40px;
}

.font-41 {
  font-size: 41px;
}

.font-42 {
  font-size: 42px;
}

.font-43 {
  font-size: 43px;
}

.font-44 {
  font-size: 44px;
}

.font-45 {
  font-size: 45px;
}

.font-46 {
  font-size: 46px;
}

.font-47 {
  font-size: 47px;
}

.font-48 {
  font-size: 48px;
}

.gap-1 {
  -moz-column-gap: 1px;
       column-gap: 1px;
  row-gap: 1px;
}

.gap-2 {
  -moz-column-gap: 2px;
       column-gap: 2px;
  row-gap: 2px;
}

.gap-3 {
  -moz-column-gap: 3px;
       column-gap: 3px;
  row-gap: 3px;
}

.gap-4 {
  -moz-column-gap: 4px;
       column-gap: 4px;
  row-gap: 4px;
}

.gap-5 {
  -moz-column-gap: 5px;
       column-gap: 5px;
  row-gap: 5px;
}

.gap-6 {
  -moz-column-gap: 6px;
       column-gap: 6px;
  row-gap: 6px;
}

.gap-7 {
  -moz-column-gap: 7px;
       column-gap: 7px;
  row-gap: 7px;
}

.gap-8 {
  -moz-column-gap: 8px;
       column-gap: 8px;
  row-gap: 8px;
}

.gap-9 {
  -moz-column-gap: 9px;
       column-gap: 9px;
  row-gap: 9px;
}

.gap-10 {
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 10px;
}

.gap-11 {
  -moz-column-gap: 11px;
       column-gap: 11px;
  row-gap: 11px;
}

.gap-12 {
  -moz-column-gap: 12px;
       column-gap: 12px;
  row-gap: 12px;
}

.gap-13 {
  -moz-column-gap: 13px;
       column-gap: 13px;
  row-gap: 13px;
}

.gap-14 {
  -moz-column-gap: 14px;
       column-gap: 14px;
  row-gap: 14px;
}

.gap-15 {
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 15px;
}

.gap-16 {
  -moz-column-gap: 16px;
       column-gap: 16px;
  row-gap: 16px;
}

.gap-17 {
  -moz-column-gap: 17px;
       column-gap: 17px;
  row-gap: 17px;
}

.gap-18 {
  -moz-column-gap: 18px;
       column-gap: 18px;
  row-gap: 18px;
}

.gap-19 {
  -moz-column-gap: 19px;
       column-gap: 19px;
  row-gap: 19px;
}

.gap-20 {
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
}

.gap-21 {
  -moz-column-gap: 21px;
       column-gap: 21px;
  row-gap: 21px;
}

.gap-22 {
  -moz-column-gap: 22px;
       column-gap: 22px;
  row-gap: 22px;
}

.gap-23 {
  -moz-column-gap: 23px;
       column-gap: 23px;
  row-gap: 23px;
}

.gap-24 {
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 24px;
}

.gap-25 {
  -moz-column-gap: 25px;
       column-gap: 25px;
  row-gap: 25px;
}

.gap-26 {
  -moz-column-gap: 26px;
       column-gap: 26px;
  row-gap: 26px;
}

.gap-27 {
  -moz-column-gap: 27px;
       column-gap: 27px;
  row-gap: 27px;
}

.gap-28 {
  -moz-column-gap: 28px;
       column-gap: 28px;
  row-gap: 28px;
}

.gap-29 {
  -moz-column-gap: 29px;
       column-gap: 29px;
  row-gap: 29px;
}

.gap-30 {
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
}

.grid-row-1 {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
}

.grid-row-2 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.grid-row-3 {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.grid-row-4 {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.grid-row-5 {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}

.grid-row-6 {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

.grid-row-7 {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
}

.grid-row-8 {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
}

.grid-row-9 {
  display: grid;
  grid-template-rows: repeat(9, 1fr);
}

.grid-row-10 {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
}

.grid-row-11 {
  display: grid;
  grid-template-rows: repeat(11, 1fr);
}

.grid-row-12 {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
}

.grid-columns-1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.grid-columns-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-columns-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-columns-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-columns-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.grid-columns-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.grid-columns-7 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.grid-columns-8 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.grid-columns-9 {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.grid-columns-10 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.grid-columns-11 {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}

.grid-columns-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

header {
  border-bottom: 1px solid #eee;
}
header ul a {
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
header ul a:hover {
  background-color: #00968D;
  color: #ffffff;
}

.pagination .item {
  height: 40px;
  width: 40px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 100px;
}
.pagination .item:hover {
  background-color: rgba(0, 150, 141, 0.09);
  color: #00968D;
}
.pagination .active {
  background-color: #00968D;
  color: #fff;
}
.pagination button {
  padding: 10px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.pagination button:hover {
  color: #00968D;
  background-color: rgba(0, 150, 141, 0.09);
}

.form-group {
  margin-top: 10px;
}
.form-group .error {
  color: red;
}
.form-group label {
  opacity: 0.8;
  display: block;
  margin-bottom: 10px;
  font-size: 90%;
}
.form-group .form-control {
  padding: 10px 20px;
  display: block;
  width: 100%;
  border: 1px solid gray;
  outline: none;
  border-radius: 4px;
}

.btn {
  padding: 10px 20px;
  background-color: #00968D;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.btn:hover {
  background-color: rgba(0, 150, 141, 0.9);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

.home article {
  min-height: 240px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border: 1px solid #eee;
}
.home article:hover {
  border: 1px solid transparent;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  transform: translateY(-4px);
}
.home article:hover .name {
  color: #00968D;
}
.home article img {
  height: 48px;
  width: 48px;
  border-radius: 48px;
}
.home article .post-data {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 15px 0;
}

.login {
  min-height: 100vh;
  background-color: #f8f8f8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
.login .login-wrapper {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px;
}
.login .login-wrapper .heading button {
  border: none;
  background-color: transparent;
}

.dashboard .menu .menuItems a {
  transition: all 0.5s ease;
}
.dashboard .menu .menuItems a:hover {
  background-color: rgba(0, 150, 141, 0.1);
  padding-left: 15px;
  border-radius: 6px;
  color: #00968D;
}
.dashboard .menu .menuItems a.active {
  background-color: #00968D;
  padding-left: 15px;
  color: #fff;
  border-radius: 6px;
}

.addPost {
  min-height: 90vh;
  background-color: #f8f8f8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
  }
  footer ul {
    flex-direction: column;
    margin: 15px 0;
  }
  .home .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 576px) {
  .home .posts {
    grid-template-columns: repeat(1, 1fr);
  }
}/*# sourceMappingURL=style.css.map */